{{ partial "head.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ partial "header.html" }}

<main id="content" class="content" role="main">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ $paginator := .Paginate $pages }}
    <!--
    {{ $paginator := .Paginator }}
    -->

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}
